<div>
  <h1><%= t('list') %></h1>

  <section>
    <p><%= link_to t('create'), new_task_path %></p> <br />
      <% @tasks.each do |task| %>
        <div class="">
          <p><%= "#{t('title')}" %> : <%= task.title %></p><br />
          <p><%= "#{t('content')}" %>: <%= task.content %></p><br />
          <div>
            <%= link_to t('edit'), edit_task_path(locale: 'en', id: task.id) %>
            <%= link_to t('delete'), task_path(locale: 'en', id:task.id), data: {turbo_method: :delete, turbo_confirm: I18n.t("delete_confirm")}%>
          </div>
        </div>
      <% end  %>
  </section>
</div>
