<div>
  <h1><%= t('list') %></h1>
  <section>
    <p><%= link_to t('create'), new_task_path %></p><br />
    <div class="tasks_content">
      <% ["created_at", "end_time", "priority"].each do |field| %>
        <%= form_tag({ controller: "tasks", action: "index" }, method: "get", class: "form_#{field}_sort_asc_desc") do |form| %>
          <label for="<%= field %>"><%= t(field) %></label>
          <select name="<%= field %>" id="<%= field %>">
            <option value="default"><%= t('default') %></option>
            <option value="asc"><%= t("sort_by_#{field}_asc") %></option>
            <option value="desc"><%= t("sort_by_#{field}_desc") %></option>
          </select>
        <%= submit_tag t('sort_submit') %>
        <% end %>
      <% end %>
      <div class="search">
        <%= search_form_for @q do |f| %>
        <!-- Search if the task's title -->
          <%= f.label :title%>
          <%= f.search_field :title_cont %>
        <!-- Search if the task's state -->
          <%= f.label :state%>
          <%= f.search_field :state_eq %>

          <%= submit_tag t('search_submit') %>
        <% end %>
      </div>
      <br />
      <div class="tasks">
        <% @tasks.each do |task| %>
        <div class="task<%= task.id %>">
          <p><%= "#{t('title')}" %> : <%= task.title %></p><br />
          <p><%= "#{t('content')}" %> : <%= task.content %></p><br />
          <p><%= "#{t('activerecord.attributes.task.end_time')}" %> : <%= task.end_time.strftime("%d %b, %Y, %H:%M") %></p><br />
          <p><%= "#{t('activerecord.attributes.task.state')}" %> : <%= I18n.t("aasm.states.#{task.state}") %></p><br />
          <p><%= "#{t('activerecord.attributes.task.priority')}" %> : <%= I18n.t("priority_options.#{task.priority}") %></p><br />
          <div>
            <%= link_to t('edit'), edit_task_path(locale: 'en', id: task.id) %>
            <%= link_to t('delete'), task_path(locale: 'en', id:task.id), data: {turbo_method: :delete, turbo_confirm: I18n.t("delete_confirm")}%>
          </div>
          <br />
        </div>
        <% end %>
      </div>
    </div>
    <!-- <%= pagy_nav(@pagy) if @pagy.pages > 1 %> -->
    <%= render partial: 'tasks/shared/pagination', locals: { records: @tasks, pagy: @pagy } %>
  </section>
</div>
