<%= form_with model: task do |form| %>
<% if task.errors.any? %>
    <div>
      <h2><%= pluralize(task.errors.count, "#{I18n.t('forms.error')}") %> <%= I18n.t('forms.prohibited_saved') %></h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %><br />
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.label :end_time %><br />
    <%= form.datetime_field :end_time %>
  </div>

  <div><%= form.submit %></div>
<% end %>
